body {
    margin: 0;
    height: 100vh;
    display: flex;
     justify-content: center;
    align-items: center; 
    font-family: Arial, sans-serif;
}
.container {
    margin-bottom: 100px;
    text-align: center;
}
h1{
     background-image:url(./wallpaper\ 2.jpg) ;
     color: transparent;
     background-clip: text;
    font-family : "Nabla";
    font-size: 50px;
     padding: 12px 25px;
     border-radius: 5px;
     width: 700px;
     margin-bottom: 50px;
}
h1:hover{
     color: initial;
     cursor: pointer;
}
button {
    padding: 12px 25px;
    background-image: linear-gradient(to bottom right, rgb(238, 8, 81), rgb(25, 110, 206), rgb(202, 3, 145), rgb(6, 100, 231));
    color: white;
    border: none;
    cursor: pointer;
    font-size: 22px;
    border-radius: 10px;
    transition: 0.3s;
    width: 300px;
}

button:hover {
    color: initial;
    cursor: pointer;
    transform: scale(1.03);
     color: rgb(12, 228, 84);
} 